<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body class="antialiased">
<div class="relative flex items-top justify-center min-h-screen bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-xl mx-auto sm:px-6 lg:px-8">

        <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
            <img src="https://cdn.discordapp.com/emojis/762108040249212978.webp?size=96&quality=lossless">
            <div class="px-4 text-6xl text-gray-500 border-r border-gray-400 tracking-wider">
                {{  code }}
            </div>

            <div class="ml-4 text-lg text-gray-500 uppercase tracking-wider">
                {{ message|raw }}
            </div>
        </div>
    </div>
</div>
</body>
</html>